// menu wrapper
.menu-list {
    margin-top: 2px;
    width: 224px;
    .menu-item {
        margin-left: 0 !important;
        justify-content: left;
    }
}
// menu item
.menu-item {
    color: var(--text);
    font-weight: 400;
    border: none;
    width: 100%;
    padding: 10px 16px;
    height: 42px;
    border-radius: 0;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
.menu-popper {
    padding-bottom: 8px;
}
//header
.header {
    display: flex;
    height: 50px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.back-btn {
    background-color: transparent;
    margin-left: 22px;
    width: 20px;
    height: 20px;
    font-size: 1.6rem;
    cursor: pointer;
}
.header-title {
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
