.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--default-container);
    height: 100%;
    padding: 0 24px 0 20px;
}
.logo-link {
    display: flex;
}
// Actions
.actions {
    display: flex;
    align-items: center;
}

.custom-get-app {
    color: rgba(22, 24, 35, 0.75);
}
.upload-btn {
    color: var(--text);
    font-weight: 600;
    font-family: var(--font-family);
}

.more-btn {
    width: 28px;
    height: 20px;
    font-size: 20px;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
}

// Current User
.action-btn {
    background-color: transparent;
    font-size: 2rem;
    margin-left: 19px;
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 24px;
    object-fit: cover;
}
