.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--default-container);
    height: 100%;
    padding: 0 24px 0 20px;
}
.logo-link {
    display: flex;
}
// Actions
.actions {
    display: flex;
    align-items: center;
}

.custom-get-app {
    color: rgba(22, 24, 35, 0.75);
}
.upload-btn {
    color: var(--text);
    font-weight: 600;
    font-family: var(--font-family);
}

.more-btn {
    width: 28px;
    height: 20px;
    font-size: 20px;
    margin-left: 16px;
    background-color: transparent;
    cursor: pointer;
}

// Current User
.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 19px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;

    span {
        position: absolute;
        top: -4px;
        right: -4px;
        padding: 0px 6px;
        height: 2rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: var(--font-family);
        background-color: var(--primary);
    }
}
.avatar {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
